*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(13, 14, 14);
    color: white;
}
h2 {
    margin-top: 10px;
    text-align: center;
    color: rgb(4, 227, 227);
    box-shadow: inset 20px 10px 20px rgb(0, 128, 77);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
}

.calculator {
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(27, 65, 63);
    border-radius: 20px;
    padding: 10px;
    /* margin: 5px; */

}

input {
    grid-column: span 4;
    text-align: end;
    margin-bottom: 10px;
    height: 20vh;
    box-shadow: inset 10px 10px 10px aqua;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    border: none;
    background-color: rgb(26, 41, 36);
}

button {
    padding: 10px;
    margin: 5px;
    border-radius: 12%;
    border: none;
    box-shadow: inset -10px -10px 10px aqua;
    transition: transform 200ms ease-in-out;
}

button:hover {
    background-color: rgb(61, 121, 121);
    transform: scale(1.1);

}

.equalBtn {
    grid-column: span 2;
    border-radius: 20px;
}

@media screen and (max-width: 400px) {
    .calculator {
       width: 100%;
    }
}